# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Other
*.depend
*.layout

# Example
opn.cpp

SAOD_cw
Неудачный кусок кода из main (самое начало).txt
Документ Microsoft Word.docx
example.cpp
